### ë°ì´í„°ì…‹ ì„¤ëª…
- íŒ€ìŠ¤íŒŒë¥´íƒ€ê°€ ì§€ë‚œí•´ ì²˜ìŒ ì„ ë³´ì¸ ITì¸ì¬ ì±„ìš© í”Œë«í¼, **ì¸í…”ë¦¬í”½**ì€ ê¸°ì—…ì—ê²ŒëŠ” ë›°ì–´ë‚œ ì¸ì¬ë“¤ì„ ì±„ìš© ê°€ëŠ¥í•œ ê³µê°„ìœ¼ë¡œ, ì§€ì›ì ì…ì¥ì—ì„œëŠ” ë¯¿ì„ ìˆ˜ ìˆëŠ” ê¸°ì—…ì„ ì„ íƒí•  ìˆ˜ ìˆëŠ” ê³µê°„ìœ¼ë¡œ ìë¦¬ë§¤ê¹€ í–ˆìŠµë‹ˆë‹¤. ì´ëŸ¬í•œ ì±„ìš© í”Œë«í¼ **ì¸í…”ë¦¬í”½**ì—ì„œ ì–»ì–´ì§„ ë°ì´í„°ë¥¼ í™œìš©í•˜ì—¬ ë¶„ì„ì„ ì§„í–‰í•˜ëŠ” ê²ƒì´ ì—¬ëŸ¬ë¶„ë“¤ì˜ ì„ë¬´ì…ë‹ˆë‹¤ ğŸ™‚

- **ë°ì´í„°ë¥¼ êµ¬ì„±í•˜ê³  ìˆëŠ” columnì— ëŒ€í•œ ì„¤ëª…**
    - **`createdat`**: ì´ë ¥ì´ ìƒì„±ëœ ë‚ ì§œ ì •ë³´
    - **`userid`**: ì‚¬ìš©ìë¥¼ êµ¬ë¶„í•˜ëŠ” ê³ ìœ  ì‹ë³„ì.
    - **`type`**: í•´ë‹¹ ì´ë ¥ì´ ì´ë ¥ì„œ ì²¨ì‚­(`resume`)ì¸ì§€, ë©´ì ‘ ì½”ì¹­(`interview`)ì¸ì§€ë¥¼ ë‚˜íƒ€ëƒ„.
    - **`result`**: ê° ì„œë¹„ìŠ¤ íƒ€ì…(`type`)ì—ì„œì˜ ê²°ê³¼(`FAIL`, `PASS`, `CANCEL`).
    - **`course`**: ì‚¬ìš©ìê°€ ì°¸ì—¬í•˜ê³  ìˆëŠ” êµìœ¡ ê³¼ì •(`NBCamp`, `Hanghae`).
    - **`status`**: ì‚¬ìš©ì ìµœì¢… ìƒíƒœ(`ì·¨ì—… ì¤€ë¹„ì¤‘`, `ìµœì¢…í•©ê²©`, `ì·¨ì—… ë³´ë¥˜`).

In [1]:
import pandas as pd

df = pd.read_csv("ë°ì´í„°ë¶„ì„ì˜¨ë³´ë”©ê³¼ì œ.csv")
df

           createdat          userid       type result   course  status
0      23/07/03 1:31  12a11b388392a1     resume   FAIL   NBCamp  ì·¨ì—… ì¤€ë¹„ì¤‘
1     23/07/03 11:27  8399fb63a855cb     resume   FAIL   NBCamp  ì·¨ì—… ì¤€ë¹„ì¤‘
2     23/07/03 11:33  223856945edb24  interview   PASS  Hanghae  ì·¨ì—… ì¤€ë¹„ì¤‘
3     23/07/03 15:09  94a4d087e77881     resume   PASS   NBCamp  ì·¨ì—… ì¤€ë¹„ì¤‘
4     23/07/03 22:06  60becf747f196f     resume   FAIL  Hanghae  ì·¨ì—… ì¤€ë¹„ì¤‘
...              ...             ...        ...    ...      ...     ...
2098  23/12/29 22:25  348ec7700e02bc     resume   FAIL   NBCamp  ì·¨ì—… ì¤€ë¹„ì¤‘
2099  23/12/30 14:18  82ae0852b17ba9     resume   PASS   NBCamp  ì·¨ì—… ì¤€ë¹„ì¤‘
2100   23/12/31 3:04  37b35594ebca42     resume   FAIL   NBCamp  ì·¨ì—… ì¤€ë¹„ì¤‘
2101   23/12/31 3:10  37b35594ebca42     resume   FAIL   NBCamp  ì·¨ì—… ì¤€ë¹„ì¤‘
2102  23/12/31 17:13  58c3b4231e173c     resume   PASS   NBCamp  ì·¨ì—… ì¤€ë¹„ì¤‘

[2103 rows x 6 columns]

#### 1. ì£¼ì–´ì§„ ë°ì´í„° ì…‹ì—ì„œ, ê°ê° ì•„ë˜ ì§ˆë¬¸ì— í•´ë‹¹í•˜ëŠ” ë‹µì„ ì±„ì›Œì£¼ì„¸ìš”. (SQL / python ì½”ë“œ ë“± í™œìš©)
    1. ì¸í…”ë¦¬í”½ì˜ ì·¨ì—…ì½”ì¹­ ì„œë¹„ìŠ¤ë¥¼ í•œ ë²ˆ ì´ìƒ í™œìš©í•œ ì¸ì›ì€ ëª‡ëª…ì¸ê°€ìš”? 
    2. í•´ë‹¹ ë°ì´í„°ì—ì„œ ìµœì¢…í•©ê²©í•œ ì¸ì›ì€ ëª‡ëª…ì´ê³ , ìµœì¢… í•©ê²© ê·¸ë£¹ì˜ ì´ë ¥ì„œ ì§„ë‹¨ / ë©´ì ‘ ì½”ì¹­ ì‹ ì²­ í‰ê·  íšŸìˆ˜ëŠ” ëª‡ íšŒ ì¸ê°€ìš”?
    3. ì´ë ¥ì„œ ì§„ë‹¨ + ë©´ì ‘ ì½”ì¹­ì„ ê°€ì¥ ë§ì´ í™œìš©í•œ ì¸ì›ì˜ ê° íšŸìˆ˜ëŠ” ëª‡ë²ˆì´ë©°, í•´ë‹¹ ì¸ì›ì˜ id ê°’ì€ ë¬´ì—‡ì¸ê°€ìš”?

In [5]:
# 1ë²ˆ ë¬¸í•­
num_users_used_service = df["userid"].nunique()
num_users_used_service

790

In [9]:
# 2ë²ˆ ë¬¸í•­
final_pass_users = df[df["status"] == "ìµœì¢…í•©ê²©"]["userid"].nunique()
final_pass_group = df[df["status"] == "ìµœì¢…í•©ê²©"]
avg_resume_interview_count = final_pass_group.groupby("userid")["type"].count().mean()

print(final_pass_users, avg_resume_interview_count)

241 3.975103734439834

In [35]:
# 3ë²ˆ ë¬¸í•­
user_usage_counts = df.groupby("userid")["type"].count()
max_usage_count = user_usage_counts.max()
most_active_user = user_usage_counts.idxmax()

resume_count = df[(df["userid"]==most_active_user) & (df["type"]=="resume")].shape[0]
interview_count = df[(df["userid"]==most_active_user) & (df["type"]=="interview")].shape[0]

print(max_usage_count, most_active_user, resume_count, interview_count)

11 1133a29433dd78 8 3

#### 2. ì£¼ì–´ì§„ ë°ì´í„° ì…‹ì—ì„œ, ê°ê° ì•„ë˜ ì§ˆë¬¸ì— í•´ë‹¹í•˜ëŠ” ë‹µì„ ì‘ì„±í•˜ê³  ê·¼ê±°ê°€ í•„ìš”í•œ ë¬¸ì œì˜ ê²½ìš° ë‹µì„ ë„ì¶œí•œ ê·¼ê±°ë¥¼ ì„¤ëª…í•´ ì£¼ì„¸ìš”.
    1. ì²« ì·¨ì—…ì½”ì¹­ ì‹ ì²­ ì´í›„, ë‹¤ìŒ ì½”ì¹­ì„ ë°›ê¸° ê¹Œì§€ì˜ í‰ê·  ì–´ëŠì •ë„ì˜ ê¸°ê°„ì´ ê±¸ë ¸ë‚˜ìš”? ì–´ë–¤ ë°©ì‹ìœ¼ë¡œ í‰ê·  ê¸°ê°„ì„ ë„ì¶œí–ˆë‚˜ìš”? (í•œë²ˆë§Œ ì½”ì¹­ì„ ë°›ì€ ì‚¬ëŒì€ ì œì™¸)
    2. ì¸í…”ë¦¬í”½ ì„œë¹„ìŠ¤ ì´ìš©ì ì¤‘, courseë³„ ìµœì¢… í•©ê²©ì¸ì›ì€ ê°ê° ëª‡ ëª…, ëª‡ í¼ì„¼íŠ¸ì¸ê°€ìš”?
    3. ì·¨ì—… ì½”ì¹­ ì´í›„ í‰ê·  ëŒ€ê¸°ê¸°ê°„ì´ ì‹¤ì œ í•©ê²© ì—¬ë¶€ì— í†µê³„ì ìœ¼ë¡œ ìœ ì˜ë¯¸í•œ ì˜í–¥ì„ ì£¼ëŠ”ì§€ ì•„ë‹Œì§€ íŒë‹¨í•˜ê³  ì–´ë–¤ ê·¼ê±°ë¡œ ê·¸ëŸ¬í•œ íŒë‹¨ì„ í–ˆëŠ”ì§€ ì‘ì„±í•˜ì„¸ìš”.

In [ ]:
# 2-3. ì·¨ì—… ì½”ì¹­ ì´í›„ í‰ê·  ëŒ€ê¸°ê¸°ê°„ì´ í•©ê²© ì—¬ë¶€ì— ë¯¸ì¹˜ëŠ” ì˜í–¥ ê²€ì • (í†µê³„ì  ê²€ì •)
import scipy.stats as stats

# ìµœì¢…í•©ê²© / ì·¨ì—… ì¤€ë¹„ì¤‘ ê·¸ë£¹ ë‚˜ëˆ„ê¸°
final_pass_group = df[df["status"] == "ìµœì¢…í•©ê²©"].groupby("userid")["createdat"].min()
waiting_group = df[df["status"] == "ì·¨ì—… ì¤€ë¹„ì¤‘"].groupby("userid")["createdat"].min()

# ì²« ì½”ì¹­ ì´í›„ ëŒ€ê¸° ê¸°ê°„ ê³„ì‚°
final_pass_wait = (final_pass_group - df.groupby("userid")["createdat"].min()).dt.days
waiting_group_wait = (waiting_group - df.groupby("userid")["createdat"].min()).dt.days
print(final_pass_wait, waiting_group_wait)
# ë‘ ê·¸ë£¹ ê°„ t-test ìˆ˜í–‰ (ê·€ë¬´ê°€ì„¤: ëŒ€ê¸°ê¸°ê°„ ì°¨ì´ê°€ ì—†ë‹¤)
t_stat, p_value = stats.ttest_ind(final_pass_wait.dropna(), waiting_group_wait.dropna(), equal_var=False)

(t_stat, p_value)

userid
100547742f167a    0.0
1033f630772c0b    NaN
103aa998952bc3    0.0
10583770ca51be    NaN
106f9f885fda28    0.0
                 ...
99b98440e1c691    NaN
99c7f086a6e73b    0.0
99e05b79363fc6    NaN
99e0d646fa2280    0.0
99e5e3390b1ab4    NaN
Name: createdat, Length: 790, dtype: float64 userid
100547742f167a    NaN
1033f630772c0b    NaN
103aa998952bc3    NaN
10583770ca51be    0.0
106f9f885fda28    NaN
                 ...
99b98440e1c691    0.0
99c7f086a6e73b    NaN
99e05b79363fc6    0.0
99e0d646fa2280    NaN
99e5e3390b1ab4    0.0
Name: createdat, Length: 790, dtype: float64

(np.float64(nan), np.float64(nan))

In [ ]:
# 1ë²ˆ ë¬¸í•­

# ë‚ ì§œ ë°ì´í„° ë³€í™˜
df["createdat"] = pd.to_datetime(df["createdat"], format="%Y-%m-%d %H:%M:%S")

# ê° ì‚¬ìš©ìì˜ ì²« ë²ˆì§¸ì™€ ë‘ ë²ˆì§¸ ì·¨ì—…ì½”ì¹­ ì‹ ì²­ ë‚ ì§œ ì°¾ê¸°
df_sorted = df.sort_values(by=["userid", "createdat"])  # useridë³„ë¡œ ì‹œê°„ìˆœ ì •ë ¬

# ì²« ë²ˆì§¸ì™€ ë‘ ë²ˆì§¸ ì‹ ì²­ ë‚ ì§œë¥¼ ì°¾ê¸° ìœ„í•´ ê·¸ë£¹í™” í›„ rank(method="first") ì‚¬ìš©
df_sorted["rank"] = df_sorted.groupby("userid")["createdat"].rank(method="first")

# ì²« ë²ˆì§¸ ì‹ ì²­ ë‚ ì§œ
first_coaching_dates = df_sorted[df_sorted["rank"] == 1].set_index("userid")["createdat"]

# ë‘ ë²ˆì§¸ ì‹ ì²­ ë‚ ì§œ
second_coaching_dates = df_sorted[df_sorted["rank"] == 2].set_index("userid")["createdat"]

# ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì •ë¦¬
user_coaching_dates = pd.DataFrame({
    "first_coaching": first_coaching_dates,
    "second_coaching": second_coaching_dates
})

# í•œ ë²ˆë§Œ ë°›ì€ ì‚¬ëŒ ì œì™¸ (NaT ê°’ ì œê±°ê±°)
valid_users = user_coaching_dates.dropna()

# ì²« ë²ˆì§¸ì™€ ë‘ ë²ˆì§¸ ì½”ì¹­ ì‹ ì²­ ì‚¬ì´ì˜ ê¸°ê°„ ê³„ì‚°
valid_users["duration"] = (valid_users["second_coaching"] - valid_users["first_coaching"]).dt.days

# í‰ê·  ê¸°ê°„ ê³„ì‚°
average_duration = valid_users["duration"].mean()
print(average_duration)

userid
100547742f167a   2023-09-26 00:52:00
1033f630772c0b   2023-12-11 15:08:00
103aa998952bc3   2023-09-26 02:06:00
106f9f885fda28   2023-07-06 11:35:00
10759e844d7663   2023-09-01 16:19:00
                         ...
99b98440e1c691   2023-11-13 23:06:00
99c7f086a6e73b   2023-07-15 01:29:00
99e05b79363fc6   2023-12-07 14:47:00
99e0d646fa2280   2023-08-10 00:03:00
99e5e3390b1ab4   2023-09-08 11:55:00
Name: second_coaching, Length: 551, dtype: datetime64[ns]
7.054446460980036

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_24368\3793851042.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_users["duration"] = (valid_users["second_coaching"] - valid_users["first_coaching"]).dt.days

In [99]:
# 2ë²ˆ ë¬¸í•­

# courseë³„ ìµœì¢… í•©ê²© ì¸ì› ë° ì „ì²´ ì¸ì›
course_final_pass = df[df["status"] == "ìµœì¢…í•©ê²©"].groupby("course")["userid"].nunique()
course_total_users = df.groupby("course")["userid"].nunique()

# ìµœì¢… í•©ê²© ë¹„ìœ¨ ê³„ì‚°
course_final_pass_ratio = (course_final_pass / course_total_users) * 100

# courseë³„ ìµœì¢… í•©ê²© ì¸ì› ë° ìµœì¢… í•©ê²© ë¹„ìœ¨
course_final = pd.merge(course_final_pass, course_final_pass_ratio, left_on="course", right_on="course", how="left")
course_final

         userid_x   userid_y
course
Hanghae       106  35.099338
NBCamp        135  27.663934

In [ ]:
# 3ë²ˆ ë¬¸í•­