### ë°ì´í„°ì…‹ ì„¤ëª…
- íŒ€ìŠ¤íŒŒë¥´íƒ€ê°€ ì§€ë‚œí•´ ì²˜ìŒ ì„ ë³´ì¸ ITì¸ì¬ ì±„ìš© í”Œë«í¼, **ì¸í…”ë¦¬í”½**ì€ ê¸°ì—…ì—ê²ŒëŠ” ë›°ì–´ë‚œ ì¸ì¬ë“¤ì„ ì±„ìš© ê°€ëŠ¥í•œ ê³µê°„ìœ¼ë¡œ, ì§€ì›ì ì…ì¥ì—ì„œëŠ” ë¯¿ì„ ìˆ˜ ìˆëŠ” ê¸°ì—…ì„ ì„ íƒí•  ìˆ˜ ìˆëŠ” ê³µê°„ìœ¼ë¡œ ìë¦¬ë§¤ê¹€ í–ˆìŠµë‹ˆë‹¤. ì´ëŸ¬í•œ ì±„ìš© í”Œë«í¼ **ì¸í…”ë¦¬í”½**ì—ì„œ ì–»ì–´ì§„ ë°ì´í„°ë¥¼ í™œìš©í•˜ì—¬ ë¶„ì„ì„ ì§„í–‰í•˜ëŠ” ê²ƒì´ ì—¬ëŸ¬ë¶„ë“¤ì˜ ì„ë¬´ì…ë‹ˆë‹¤ ğŸ™‚

- **ë°ì´í„°ë¥¼ êµ¬ì„±í•˜ê³  ìˆëŠ” columnì— ëŒ€í•œ ì„¤ëª…**
    - **`createdat`**: ì´ë ¥ì´ ìƒì„±ëœ ë‚ ì§œ ì •ë³´
    - **`userid`**: ì‚¬ìš©ìë¥¼ êµ¬ë¶„í•˜ëŠ” ê³ ìœ  ì‹ë³„ì.
    - **`type`**: í•´ë‹¹ ì´ë ¥ì´ ì´ë ¥ì„œ ì²¨ì‚­(`resume`)ì¸ì§€, ë©´ì ‘ ì½”ì¹­(`interview`)ì¸ì§€ë¥¼ ë‚˜íƒ€ëƒ„.
    - **`result`**: ê° ì„œë¹„ìŠ¤ íƒ€ì…(`type`)ì—ì„œì˜ ê²°ê³¼(`FAIL`, `PASS`, `CANCEL`).
    - **`course`**: ì‚¬ìš©ìê°€ ì°¸ì—¬í•˜ê³  ìˆëŠ” êµìœ¡ ê³¼ì •(`NBCamp`, `Hanghae`).
    - **`status`**: ì‚¬ìš©ì ìµœì¢… ìƒíƒœ(`ì·¨ì—… ì¤€ë¹„ì¤‘`, `ìµœì¢…í•©ê²©`, `ì·¨ì—… ë³´ë¥˜`).

In [1]:
import pandas as pd

df = pd.read_csv("ë°ì´í„°ë¶„ì„ì˜¨ë³´ë”©ê³¼ì œ.csv")
df

           createdat          userid       type result   course  status
0      23/07/03 1:31  12a11b388392a1     resume   FAIL   NBCamp  ì·¨ì—… ì¤€ë¹„ì¤‘
1     23/07/03 11:27  8399fb63a855cb     resume   FAIL   NBCamp  ì·¨ì—… ì¤€ë¹„ì¤‘
2     23/07/03 11:33  223856945edb24  interview   PASS  Hanghae  ì·¨ì—… ì¤€ë¹„ì¤‘
3     23/07/03 15:09  94a4d087e77881     resume   PASS   NBCamp  ì·¨ì—… ì¤€ë¹„ì¤‘
4     23/07/03 22:06  60becf747f196f     resume   FAIL  Hanghae  ì·¨ì—… ì¤€ë¹„ì¤‘
...              ...             ...        ...    ...      ...     ...
2098  23/12/29 22:25  348ec7700e02bc     resume   FAIL   NBCamp  ì·¨ì—… ì¤€ë¹„ì¤‘
2099  23/12/30 14:18  82ae0852b17ba9     resume   PASS   NBCamp  ì·¨ì—… ì¤€ë¹„ì¤‘
2100   23/12/31 3:04  37b35594ebca42     resume   FAIL   NBCamp  ì·¨ì—… ì¤€ë¹„ì¤‘
2101   23/12/31 3:10  37b35594ebca42     resume   FAIL   NBCamp  ì·¨ì—… ì¤€ë¹„ì¤‘
2102  23/12/31 17:13  58c3b4231e173c     resume   PASS   NBCamp  ì·¨ì—… ì¤€ë¹„ì¤‘

[2103 rows x 6 columns]

#### 1. ì£¼ì–´ì§„ ë°ì´í„° ì…‹ì—ì„œ, ê°ê° ì•„ë˜ ì§ˆë¬¸ì— í•´ë‹¹í•˜ëŠ” ë‹µì„ ì±„ì›Œì£¼ì„¸ìš”. (SQL / python ì½”ë“œ ë“± í™œìš©)
    1. ì¸í…”ë¦¬í”½ì˜ ì·¨ì—…ì½”ì¹­ ì„œë¹„ìŠ¤ë¥¼ í•œ ë²ˆ ì´ìƒ í™œìš©í•œ ì¸ì›ì€ ëª‡ëª…ì¸ê°€ìš”? 
    2. í•´ë‹¹ ë°ì´í„°ì—ì„œ ìµœì¢…í•©ê²©í•œ ì¸ì›ì€ ëª‡ëª…ì´ê³ , ìµœì¢… í•©ê²© ê·¸ë£¹ì˜ ì´ë ¥ì„œ ì§„ë‹¨ / ë©´ì ‘ ì½”ì¹­ ì‹ ì²­ í‰ê·  íšŸìˆ˜ëŠ” ëª‡ íšŒ ì¸ê°€ìš”?
    3. ì´ë ¥ì„œ ì§„ë‹¨ + ë©´ì ‘ ì½”ì¹­ì„ ê°€ì¥ ë§ì´ í™œìš©í•œ ì¸ì›ì˜ ê° íšŸìˆ˜ëŠ” ëª‡ë²ˆì´ë©°, í•´ë‹¹ ì¸ì›ì˜ id ê°’ì€ ë¬´ì—‡ì¸ê°€ìš”?

In [5]:
# 1ë²ˆ ë¬¸í•­
num_users_used_service = df["userid"].nunique()
num_users_used_service

790

In [9]:
# 2ë²ˆ ë¬¸í•­
final_pass_users = df[df["status"] == "ìµœì¢…í•©ê²©"]["userid"].nunique()
final_pass_group = df[df["status"] == "ìµœì¢…í•©ê²©"]
avg_resume_interview_count = final_pass_group.groupby("userid")["type"].count().mean()

print(final_pass_users, avg_resume_interview_count)

241 3.975103734439834

In [35]:
# 3ë²ˆ ë¬¸í•­
user_usage_counts = df.groupby("userid")["type"].count()
max_usage_count = user_usage_counts.max()
most_active_user = user_usage_counts.idxmax()

resume_count = df[(df["userid"]==most_active_user) & (df["type"]=="resume")].shape[0]
interview_count = df[(df["userid"]==most_active_user) & (df["type"]=="interview")].shape[0]

print(max_usage_count, most_active_user, resume_count, interview_count)

11 1133a29433dd78 8 3