### 데이터셋 설명
- 팀스파르타가 지난해 처음 선보인 IT인재 채용 플랫폼, **인텔리픽**은 기업에게는 뛰어난 인재들을 채용 가능한 공간으로, 지원자 입장에서는 믿을 수 있는 기업을 선택할 수 있는 공간으로 자리매김 했습니다. 이러한 채용 플랫폼 **인텔리픽**에서 얻어진 데이터를 활용하여 분석을 진행하는 것이 여러분들의 임무입니다 🙂

- **데이터를 구성하고 있는 column에 대한 설명**
    - **`createdat`**: 이력이 생성된 날짜 정보
    - **`userid`**: 사용자를 구분하는 고유 식별자.
    - **`type`**: 해당 이력이 이력서 첨삭(`resume`)인지, 면접 코칭(`interview`)인지를 나타냄.
    - **`result`**: 각 서비스 타입(`type`)에서의 결과(`FAIL`, `PASS`, `CANCEL`).
    - **`course`**: 사용자가 참여하고 있는 교육 과정(`NBCamp`, `Hanghae`).
    - **`status`**: 사용자 최종 상태(`취업 준비중`, `최종합격`, `취업 보류`).

In [1]:
import pandas as pd

df = pd.read_csv("데이터분석온보딩과제.csv")
df

           createdat          userid       type result   course  status
0      23/07/03 1:31  12a11b388392a1     resume   FAIL   NBCamp  취업 준비중
1     23/07/03 11:27  8399fb63a855cb     resume   FAIL   NBCamp  취업 준비중
2     23/07/03 11:33  223856945edb24  interview   PASS  Hanghae  취업 준비중
3     23/07/03 15:09  94a4d087e77881     resume   PASS   NBCamp  취업 준비중
4     23/07/03 22:06  60becf747f196f     resume   FAIL  Hanghae  취업 준비중
...              ...             ...        ...    ...      ...     ...
2098  23/12/29 22:25  348ec7700e02bc     resume   FAIL   NBCamp  취업 준비중
2099  23/12/30 14:18  82ae0852b17ba9     resume   PASS   NBCamp  취업 준비중
2100   23/12/31 3:04  37b35594ebca42     resume   FAIL   NBCamp  취업 준비중
2101   23/12/31 3:10  37b35594ebca42     resume   FAIL   NBCamp  취업 준비중
2102  23/12/31 17:13  58c3b4231e173c     resume   PASS   NBCamp  취업 준비중

[2103 rows x 6 columns]

#### 1. 주어진 데이터 셋에서, 각각 아래 질문에 해당하는 답을 채워주세요. (SQL / python 코드 등 활용)
    1. 인텔리픽의 취업코칭 서비스를 한 번 이상 활용한 인원은 몇명인가요? 
    2. 해당 데이터에서 최종합격한 인원은 몇명이고, 최종 합격 그룹의 이력서 진단 / 면접 코칭 신청 평균 횟수는 몇 회 인가요?
    3. 이력서 진단 + 면접 코칭을 가장 많이 활용한 인원의 각 횟수는 몇번이며, 해당 인원의 id 값은 무엇인가요?

In [5]:
# 1번 문항
num_users_used_service = df["userid"].nunique()
num_users_used_service

790

In [9]:
# 2번 문항
final_pass_users = df[df["status"] == "최종합격"]["userid"].nunique()
final_pass_group = df[df["status"] == "최종합격"]
avg_resume_interview_count = final_pass_group.groupby("userid")["type"].count().mean()

print(final_pass_users, avg_resume_interview_count)

241 3.975103734439834

In [35]:
# 3번 문항
user_usage_counts = df.groupby("userid")["type"].count()
max_usage_count = user_usage_counts.max()
most_active_user = user_usage_counts.idxmax()

resume_count = df[(df["userid"]==most_active_user) & (df["type"]=="resume")].shape[0]
interview_count = df[(df["userid"]==most_active_user) & (df["type"]=="interview")].shape[0]

print(max_usage_count, most_active_user, resume_count, interview_count)

11 1133a29433dd78 8 3